/* AppComponent's private CSS styles */
@mixin hoverOver {
  color: green;
font-size: larger;
font-weight: bold;
border: 1px solid black;
}

h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: green;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  @include hoverOver;
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}

