/* 
* {
    background-color: rgb(0, 255, 85);
    color: #151515;
}
h2 {
    color: goldenrod;
}
// styling classes
.about {
    border: 2px solid;
}
// styling IDs
#hobbies:hover {
    background-color: teal
    color: blue
}
nav {
    display: flex;
    flex-direction: column;
}
ul li:nth-child(3) {
    color: blue;
} */
a:hover {
    background-color: yellow;
}
li:nth-child(3) {
    color: navy
}
* {
    border-style: solid;
    border-width: 2px;
    padding: 10pt;
}
#italy {
font-style: italic;
}

#bolden {
font-weight: bold;
}

#largey {
font-size: larger;
}

#smalley {
font-size: smaller;
}

#olivia {
border-color: olive;
}

nav > a {
    background-color: black;
}
div p {
    background-color: blanchedalmond;
}

div, p {
    text-align: right;
}